{% extends 'base.html' %}
{% block page_title %} {{block.super}} Statutoy Institutions Registration {% endblock page_title%}

{% load static %}

{% load crispy_forms_tags %}

{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/si_module.css' %}" rel="stylesheet" />
<link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />

{% endblock style_code%}

    
{% block primary %}  
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">SI</li>
</ol>
<h1 class="page-header">SI registration <small>Register children in the Statutory Institutions (Reamnd Homes, Rehabilitations schools or Reascue centres and CCI's)</small></h1>
<!-- end breadcrumb -->
<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-info fa-2x pull-left"></i>
    <span id="invalid-form-message"></span>
    <span class="validation-errors"></span>
</div>
<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>                      
                    <h4 class="panel-title">Register Child &nbsp;<i class="fa fa-male"></i> <span id="person_name"></span></h4>
                    <div class="alert alert-info fade in">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div id="mng_messages">
                                <b>INFO!</b>  
                            </div>
                    </div>
                </div>

                    <div class="panel-body">
                        <form class="form-horizontal form-bordered" action="." method="POST" data-parsley-validate="true" name="form-wizard" id="new_person">
                            {% csrf_token %}
                            {% if request.session.reg_ovc %}
                            <input type="hidden" name="ovc_program" id="ovc_program" value="1">
                            {% else %}
                            <input type="hidden" name="ovc_program" id="ovc_program" value="0">
                            {% endif %}
                            <input type="hidden" name="person_uid" id="person_uid" value="{{ person_uid }}">
                        <div class="row">
                            <fieldset>
                                <legend class="pull-left width-full">Child details</legend>
                                <div class="divider pull-left width-full"></div>
                                <div class="row">
                                    <!-- end col-4 -->
                                    <div class="col-md-2">
                                        <div class="form-group block1">
                                            <label for="first_name">First Name <span class="asteriskField">*</span></label>
                                            {{ child.first_name }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="surname">Surname <span class="asteriskField">*</span></label>
                                            {{ child.surname }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="other_names">Other Name(s) <span class="asteriskField"></span></label>
                                            {{ child.other_names}}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <div class="col-md-2">
                                        <div class="form-group block1">
                                            <label for="sex_id">Sex <span class="asteriskField">*</span></label>
                                            {% if child.sex_id == 'SMAL' %}
                                                Male
                                            {% elif child.sex_id == 'SFEM' %}
                                                Female
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-2">
                                        <div id="dob_div" class="form-group">
                                            <label for="date_of_birth">Date of Birth <span class="asteriskField">*</span></label>
                                            {{ child.date_of_birth }}
                                        </div>
                                    </div>
                                    <!-- begin col-4 -->
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div id="" class="form-group">
                                            <label for="institution_type">Institution Type <span class="asteriskField">*</span> :</label>
                                            
                                        </div>
                                        <div id="date_warning" class="form-group" style="display: none"></div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="institution_name">Name of institution  :</label>
                                            
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <div class="divider pull-left width-full"></div>
                                <div class="row">
                                    <div id="" class="col-md-3">
                                        <div class="form-group block1">
                                            <label for="date_of_admission">Date of admission to <span class="asteriskField">*</span></label>
                                            {{ form.date_of_admission }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-3">
                                        <div id="dob_div" class="form-group">
                                            <label for="current_year_of_school">Current year of school <span class="asteriskField">*</span></label>
                                            {{ form.current_year_of_school }}
                                        </div>
                                    </div>
                                    <div id="div_admission" class="col-md-3">
                                        <div id="" class="form-group">
                                            <label for="admission_no">Admission No <span class="asteriskField">*</span></label>
                                            {{ form.admission_no }}
                                        </div>
                                    </div>
                                    <!-- begin col-4 -->
                                    <div class="col-md-3">
                                        <div id="" class="form-group">
                                            <label for="school_name">Most recent school attended <span class="asteriskField">*</span> :</label>
                                            {{ form.school_name }}
                                        </div>
                                        <div id="date_warning" class="form-group" style="display: none"></div>
                                    </div>
                                </div>
                                <div class="divider pull-left width-full"></div>
                            </fieldset>

                            <!--- Start Wizard Block -->

                            <div id="wizard_persons">
                                    <ol>
                                        <li>
                                            REFERRAL  
                                            <small>Child referred to Remand Home by</small>
                                        </li>

                                        <li>
                                            Special Needs and circumstances
                                            <small></small>
                                        </li>
                                    </ol>
                                    <!-- begin wizard step-1 -->
                                    <div class="wizard-step-1">
                                        <fieldset>
                                            <!-- begin row -->
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="type_of_entry">Type of Entry <span class="asteriskField"></span></label>
                                                        {{ form.type_of_entry}}
                                                    </div>                                                    
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="referral_source">Referral Source <span class="asteriskField"></span></label>
                                                        {{ form.referral_source}}
                                                    </div>
                                                </div> 
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="child_category">Category of Child <span class="asteriskField"></span></label>
                                                        {{ form.child_category}}
                                                    </div>
                                                </div>  
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="referral_source_others">Referral Sources Others <span class="asteriskField"></span></label>
                                                        {{ form.referral_source_others}}
                                                    </div>
                                                </div>                                
                                            </div>
                                            <!-- end row -->
                                             <!-- begin row -->
                                             <div class="row">
                                                <h5>Person referering child</h5>
                                                <hr/>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="referrer_name">Name of Referrer <span class="asteriskField"></span></label>
                                                        {{ form.referrer_name}}
                                                    </div>                                                    
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="referrer_address">Referrer Address <span class="asteriskField"></span></label>
                                                        {{ form.referrer_address}}
                                                    </div>
                                                </div> 
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="referrer_phone">Referrer Phone <span class="asteriskField"></span></label>
                                                        {{ form.referrer_phone}}
                                                    </div>
                                                </div> 
                                            </div>
                                            <!-- end row -->
                                        </fieldset>
                                    </div>
                                    <!-- end wizard step-1 -->
                                    <!-- begin wizard step-2 -->
                                    <div class="wizard-step-2">
                                        <fieldset>
                                            <!-- begin row -->
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="">
                                                        <label for="consent_form_signed">Parental Consent for signed <span class="asteriskField"></span></label>                                                    
                                                        <div class="radio-inline">
                                                            {{ form.consent_form_signed}}
                                                        </div>                                                                
                                                    </div>                                                    
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="commital_court_order">Commital court order <span class="asteriskField"></span></label>
                                                        <div class="radio-inline">{{ form.commital_court_order}}</div>
                                                    </div>
                                                </div> 
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="health_status">Current health situation <span class="asteriskField"></span></label>
                                                        {{ form.health_status}}
                                                    </div>
                                                </div>  
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="special_needs">Any special needs  <span class="asteriskField"></span></label>
                                                        {{ form.special_needs}}
                                                    </div>
                                                </div>                                
                                            </div>
                                            <!-- end row -->
                                             <!-- begin row -->
                                             <div class="row">
                                                <h5>persons not permitted to have contact with or supervise the child?</h5>
                                                <hr/>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="not_contact_child">Are there person not permitted: <span class="asteriskField"></span></label>
                                                        <div class="radio-inline">
                                                            {{ form.not_contact_child}}
                                                        </div>
                                                    </div>                                                    
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="name_not_contact_child">Name of person <span class="asteriskField"></span></label>
                                                        {{ form.name_not_contact_child}}
                                                    </div>
                                                </div>  
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="relationship_to_child_not_contact_child">Relationship of person <span class="asteriskField"></span></label>
                                                        {{ form.relationship_to_child_not_contact_child}}
                                                    </div>
                                                </div> 
                                            </div>
                                            <!-- end row -->
                                        </fieldset>
                                    </div>
                                    <!-- end wizard step-1 -->
                                </div>
                            </div>
                            

                            <!--- End Wizard Block -->
                            <div class="row" id="audit_detail_div">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="audit_workforce">Workforce member recorded on paper :<span class="asteriskField">*</span></label>
                                        {{ form.audit_workforce }}
                                        {{ form.workforce_id }}
                                    </div>
                                </div>
                                <!-- begin col-6 -->
                                <div class="col-md-6">
                                    <div class="form-group col-md-6">
                                        <label for="audit_date">Date paper form filled :<span class="asteriskField">*</span></label>
                                        {{ form.audit_date }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"></label>
                                <div class="col-md-6 col-sm-6">
                                    <button type="submit" class="btn btn-primary" value="submit" id="s1">Submit</button>
                                    <a href="{% url 'new_si_child_view' child.id %}">
                                    <button type="button" class="btn btn-default">Cancel</button>
                                    </a>
                                </div>
                            </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-6 -->
        </form>
    </div>
</div>
<!-- end row -->
{% endblock primary %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/si.js' %}"></script>

<script>
jQuery(document).ready(function() {
    FormWizardValidation.init();
    // To get workforce
    $( "#audit_workforce_id" ).autocomplete({
        source: function( request, response ) {
        $.ajax({
          url: "{% url 'registry' %}",
          dataType: "json",
          data: {q: request.term, id: 3},
          success: function( data ) {
            response( data );
          }
        });
      },
      minLength: 4,
      select: function( event, ui ) {
         $('#workforce_id').val(ui.item.id);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });

    fetchSiOrgs()

    window.Parsley.on('field:error', function(fieldInstance) {
        // Get the error messages
            var messages = ParsleyUI.getErrorsMessages(fieldInstance);

            // Get the field's name
            var fieldName = fieldInstance.$element.attr('name');
            //var fieldLabel = fieldInstance.$element.attr('label');
            //'+ fieldInstance.$element.attr('name') +'
            var fieldLabel = $('label[for="'+ fieldName +'"]').text();

            // Loop through all the messages
            var fmsg = '';
            for (var i in messages) {
                // Create a message for each error
                var message = (fieldLabel + ': ' + messages[i]).replace('*', '');
                //var msg = $('<p><a class="focus-' + fieldName + '" href="#">' + message + '</a><p>');
                var msg = $('<p><a class="focus-' + fieldName + '" href="#">' + message + '</a><p>');

                // Append the errors to the div
                fmsg += fieldLabel.replace('*', '') + ' - '+ messages[i] +'; ';
                if (fieldLabel != ''){
                    //$('.validation-errors').append(', ' + fieldLabel);
                    fmsgs = fieldLabel.replace('*', '') + ' - '+ messages[i] +'; ';
                }   
            }
            if (fmsg != ''){
            $('.validation-errors').append(fmsg.replace(':', ''));
            $('#messages').show();  
            }else{
                $('#messages').hide();
            }     
    });

})

</script>
{% endblock lazy_javascript_code %}
