{% extends 'base.html' %}
{% block page_title %} {{block.super}} Statutoy Institutions Registration {% endblock page_title%}

{% load static %}

{% load crispy_forms_tags %}

{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/si_module.css' %}" rel="stylesheet" />
{% endblock style_code%}

    
{% block primary %}  
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">SI</li>
</ol>
<h1 class="page-header">SI registration <small>Register children in the Statutory Institutions (Reamnd Homes, Rehabilitations schools or Reascue centres and CCI's)</small></h1>
<!-- end breadcrumb -->
<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-info fa-2x pull-left"></i>
    <span id="invalid-form-message"></span>
    <span class="validation-errors"></span>
</div>
<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>                      
                <h4 class="panel-title">Register Child &nbsp;<i class="fa fa-male"></i> <span id="person_name"></span></h4>
                </div>
                <div class="alert alert-info fade in">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div id="mng_messages">
                        <b>INFO!</b>  
                        </div>
                    </div>

                    <div class="panel-body">
                        <form class="form-horizontal form-bordered" method="POST" data-parsley-validate="true" name="form-wizard" id="new_person">
                            {% csrf_token %}
                            {% if request.session.reg_ovc %}
                            <input type="hidden" name="ovc_program" id="ovc_program" value="1">
                            {% else %}
                            <input type="hidden" name="ovc_program" id="ovc_program" value="0">
                            {% endif %}
                            <input type="hidden" name="person_uid" id="person_uid" value="{{ person_uid }}">
                        <div class="row">
                            <fieldset>
                                <legend class="pull-left width-full">Case Referral</legend>
                                <div class="divider pull-left width-full"></div>
                                <div class="row">
                                    <!-- end col-4 -->
                                    <div class="col-md-2">
                                        <div class="form-group block1">
                                            <label for="first_name">Names </label><br/>
                                            {{ child.first_name }} {{ child.surname }} {{ child.other_names}}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="surname">County </label><br/>
                                            
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="other_names">Subcounty </label><br/>
                                            
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <div class="col-md-2">
                                        <div class="form-group block1">
                                            <label for="sex_id">Sex </label><br/>
                                            {% if child.sex_id == 'SMAL' %}
                                                Male
                                            {% elif child.sex_id == 'SFEM' %}
                                                Female
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!-- begin col-4 -->
                                    <div class="col-md-2">
                                        <div id="dob_div" class="form-group">
                                            <label for="date_of_birth">Age: </label><br/>
                                            {{ child.date_of_birth }}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="other_names">Telephone </label><br/>
                                                {{child.des_phone_number}}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                </div>

                                <div class="divider pull-left width-full"></div>
                                <div class="row">
                                    <!-- end col-4 -->
                                    <div class="col-md-3">
                                        <div class="form-group block1">
                                            <label for="first_name">Referral from </label><br/>
                                            {{ admission.institution_name }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="surname">Referral To: </label><br/>
                                            {{ form.refferal_to }}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="other_names">Reasons for Referral </label><br/>
                                            {{ form.reason_for_referral }}
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="referral_others">
                                        <div class="form-group">
                                            <label for="other_names"> Reason for referral To Others:  </label><br/>
                                            {{ form.reason_for_referral_others }}
                                        </div>
                                    </div>
                                </div>
                                <div class="divider pull-left width-full"></div>
                                <div class="row">
                                    <!-- end col-4 -->
                                    <div class="col-md-3">
                                        <div class="form-group block1">
                                            <label for="first_name">Documents Attached:  </label><br/>
                                            {{ form.documents_attached }}
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group block1">
                                            <label for="first_name">Referral Reference Number::  </label><br/>
                                            {{ form.ref_no }}
                                        </div>
                                    </div>
                                </div>
                                </fieldset>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"></label>
                                <div class="col-md-6 col-sm-6">
                                    <button type="submit" class="btn btn-primary" value="submit" id="s1">Submit</button>
                                    <a href="{% url 'new_si_child_view' child.id %}">
                                    <button type="button" class="btn btn-default">Cancel</button>
                                    </a>
                                </div>
                            </div>
                            <div id="caregiver_new"></div>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-6 -->
        
        </form>
    </div>
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>                          
                    <h4 class="panel-title"><b>Referrals Listing </b></h4>                    
                </div>

                <div class="panel-body">
                    <div  class="panel panel-inverse">
                        <div id="case-events"  class="table-responsive">
                            <table id="vacancy_data_table" class="table table-striped table-bordered">
                                <thead>
                                    <tr> 
                                        <th>Ref No.</th>  
                                        <th>Referral To</th>                                 
                                        <th>Reason for referral</th> 
                                        <th>Attached Documents</th>                
                                        <th>Referral completed</th> 
                                        <th>Action</th> 
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {%if referrals %}
                                    {%for refer in referrals %}
                                    <tr>
                                        <td>{{refer.ref_no}}</td> 
                                        <td>{{refer.refferal_to}}</td>                            
                                        <td>{{refer.reason_for_referral}} {% if refer.reason_for_referral == 'others' %} {{ refer.reason_for_referral_others}} {%else%} {%endif%}</td> 
                                        <td>{{refer.documents_attached}}</td>                
                                        <td>
                                            {%if refer.ref_completed == True %}
                                                <span class="text-primary">Completed</span>
                                            {%elif refer.ref_completed == False  %}
                                                <span class="text-danger">Not Completed</span>
                                            {%endif%}
                                        </td>  
                                        <td>
                                            {%if refer.ref_completed == False %}
                                                <a href="" type="button" class="btn btn-primary">Mark as Completed</a>
                                            {%elif refer.ref_completed == True  %}
                                                    <a></a>
                                            {%endif%}
                                        </td> 
                                        
                                    </tr>
                                    {%endfor%}
                                    {%else%}
                                    <tr>
                                        <td colspan='8' class="text-center text-danger font-weight-bold">No Applications</td>
                                    </tr>
                                    {%endif%}
                                </tbody>
                            </table>
                            </div>
                            <br><br>                           
                        </div>
                    </div>

                </div>
                <!-- end panel -->
            </div>
            <!-- end col-12 -->
        </div>
</div>
<!-- end row -->
{% endblock primary %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-multiselect.js' %}"></script>
<script>
jQuery(document).ready(function() {
    //Hide these <divs> on page_load()
        FormWizardValidation.init();

        $('#referral_others').hide()

        $("#id_documents_attached option[value='default']").prop("disabled", true).prop("selected", true);
        $("#id_reason_for_referral option[value='default']").prop("disabled", true).prop("selected", true);

});

$('#id_reason_for_referral').on('change', function(){
    rfr_val = $('#id_reason_for_referral').val()
    if (rfr_val=='others'){
        $('#referral_others').show()
        $('#referral_others').attr('required', 'required')
    }else{
        $('#referral_others').hide()
        $('#referral_others').removeAttr('required')
    }
})

{% for key, values in titles.items %}
    var {{ key }} = {{ values|safe }};
{% endfor %}


</script>
{% endblock lazy_javascript_code %}
