{% extends 'base.html' %}
{% load static %}
{% block page_title %} Release Form {% endblock %}

{% load app_filters %}

{% load crispy_forms_tags %}

{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />

<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<style type="text/css">
form#new-form-b ul {
      list-style-type: none;
    }
  form#new-form-b li {
      padding-left: 1em;
      text-indent: -2em;
  }
  @media screen {
  div.divHeader {
    display: none;
  }
}
@media print {
  div.divHeader {
    text-align: center;
    font-size: 16px;
    top: 0;
  }
  div.invoice-footer {
    bottom: 0 !important;
  }
  div#printId{
    display: none;
  }
  #wizard_a ol { display: none; }
  .bwizard-buttons { display: none; }
  .bwizard-steps { display: none; }
  #wizard_a ol li { display: none; }
  #step2, #step3  { display: block !important; }
  .control-label {margin-bottom: 5px;}
}
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,td{
    padding: 10px;
    text-align: left; 
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
.custom-margin {
      margin-left: 10em;
    }
.table-margin {
        margin-left: 10px;
      }
</style>
{% endblock %}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">Bio Data </li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header"> Form  -  <small>Home</small></h1>
<!-- end page-header -->
{% if messages %}
<div id="messages" class="alert alert-success fade in">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.info %} class="{{ message.info }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<!-- begin row -->
<div class="row">
   <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
            <div class="myForm">
            <div class="divHeader"><img src="{% static 'img/logo_gok.png' %}"><br/>MINISTRY OF LABOUR AND SOCIAL PROTECTION
            <br/>STATE DEPARTMENT OF SOCIAL PROTECTION <br/>DIRECTORATE OF CHILDREN SERVICES <br/><br/>
            <b>Statutory Institution - FORM  - </b></div>
            <div class="cinvoice">
                <div class="invoice-company">
                    <span class="pull-right hidden-print">
                    <a href="javascript:;" class="btn btn-sm btn-danger m-b-10"><i class="fa fa-download m-r-5"></i> Export as PDF</a>
                    <button type="button" id="map-print" class="btn btn-sm btn-danger m-b-10" onclick="printChart()"><i class="fa fa-print"></i> Print Form</button>
                    {% if care %}
                    <a href="{% url 'view_alt_care' care_id=case.care_id|stringformat:'s' %}" class="btn btn-sm btn-success m-b-10"><i class="fa fa-mail-reply-all m-r-5"></i> Back to Care details</a>
                    {% else %}
                   
                    {% endif %}
                    </span>
                    Release Form
                    <!-- Case No: {{ case_num }} :: {{ case.case.case_serial }} -->

                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="POST" id="" action="." data-parsley-validate="true">
                    {% csrf_token %}
                    <input type="hidden" name="form_id" value="">
                    <input type="hidden" name="case_id" value="{{ case.case_id }}">
                    <input type="hidden" name="person_id" value="{{ case.person.id }}">
                    <input type="hidden" name="care_id" value="{{ case.care_id }}">

                    <div id="wizard_a">
                        <ol>
                            <li>
                                Release Form
                                <small>Release Form.</small>
                            </li>
                        </ol>
                        <!-- begin wizard step-1 -->
                        <div class="tab-pane">
                            <fieldset>
                                <legend class="pull-left width-full">Release Form</legend>
                                <div class="divider pull-left width-full"></div>
                                <div class="row">
                                    <!-- end col-4 -->
                                    <div class="col-md-2">
                                        <div class="form-group block1">
                                            <label for="first_name">Names </label><br/>
                                            {{ child.first_name }} {{ child.surname }} {{ child.other_names}}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="surname">Institution Name </label><br/>
                                            
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="other_names">Admission Number </label><br/>
                                            
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <div class="col-md-2">
                                        <div class="form-group block1">
                                            <label for="sex_id">Sex </label><br/>
                                            {% if child.sex_id == 'SMAL' %}
                                                Male
                                            {% elif child.sex_id == 'SFEM' %}
                                                Female
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!-- begin col-4 -->
                                    <div class="col-md-2">
                                        <div id="dob_div" class="form-group">
                                            <label for="date_of_birth">Age: </label><br/>
                                            {{ child.date_of_birth }}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="other_names">Telephone </label><br/>
                                                {{child.des_phone_number}}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                </div>

                                <hr>

                                <div class="form-group">
                                    <label class="col-md-2 control-label"><b>Released to:</b></label>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Reference Number</label>
                                    <div class="col-md-3">
                                        {{ form.ref_no }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Date of Release</label>
                                    <div class="col-md-3">
                                        {{ form.date_released }}
                                    </div>
                                </div>

                                <div class="form-group">
                                        <label class="col-md-2 control-label">Name</label>
                                        <div class="col-md-3">
                                            {{ form.name }}
                                        </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">ID Number</label>
                                    <div class="col-md-3">{{ form.id_no }}</div>
                                </div>
                                <div class="form-group">
                                        <label class="col-md-2 control-label">Telephone number</label>
                                        <div class="col-md-3">
                                            {{ form.telephone }}
                                        </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Occupation</label>
                                    <div class="col-md-3">
                                        {{ form.occupation }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Residence</label>
                                    <div class="col-md-3">
                                        {{ form.residence }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Relation to Child</label>
                                    <div class="col-md-3">
                                        {{ form.relation_to_child }}
                                    </div>
                                </div>

                        </div>
                        <!-- end wizard step-3 -->
                        <div class="form-group" id="printId">
                            <label class="col-md-2 control-label"></label>
                            <div class="col-md-3">
                            <button type="submit" class="btn btn-sm btn-success">Submit Form  details</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <!-- end panel -->
        <div class="row">
            <!-- begin col-12 -->
            <div class="col-md-12">
                <!-- begin panel -->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>                          
                        <h4 class="panel-title"><b>Release Listing </b></h4>                    
                    </div>
    
                    <div class="panel-body">
                        <div  class="panel panel-inverse">
                            <div id="case-events"  class="table-responsive">
                                <table id="vacancy_data_table" class="table table-striped table-bordered">
                                    <thead>
                                        <tr> 
                                            <th>Ref No.</th>  
                                            <th>from Institution</th>                                 
                                            <th>Released to Relation:</th> 
                                            <th>Released to Name:</th>                
                                            <th>Date of Release</th> 
                                            <th>Action</th> 
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%if releases %}
                                        {%for release in releases %}
                                        <tr>
                                            <td>{{ release.ref_no }}</td> 
                                            <td>{{ release.refferal_to }}</td>                            
                                            <td>{{ release.reason_for_releaseral_s }}</td> 
                                            <td>{{ release.documents_attached_s }}</td>                
                                            <td>{{ release.documents_attached_s }}</td>  
                                            <td>
                                                {% comment %} {%if refer.ref_completed == False %}
                                                    <a href="{% url 'SI_casereferral_comp' id=refer.id %}" type="button" class="btn btn-primary">Mark as Completed</a>
                                                {%elif refer.ref_completed == True  %}
                                                        <a></a>
                                                {%endif%} {% endcomment %}
                                            </td> 
                                            
                                        </tr>
                                        {%endfor%}
                                        {%else%}
                                        <tr>
                                            <td colspan='8' class="text-center text-danger font-weight-bold">No Applications</td>
                                        </tr>
                                        {%endif%}
                                    </tbody>
                                </table>
                                </div>
                                <br><br>                           
                            </div>
                        </div>
    
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end col-12 -->
            </div>
        </div>
    </div>
    
</div>
<!-- end row -->

{% endblock %}

{% block lazy_javascript_code %}


<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script>

$(document).ready(function() {
    $('#date_released, .event_date').datepicker({ endDate: '0y', format: 'dd-M-yyyy' });

 

});






</script>
{% endblock %}