{% extends 'base.html' %}
{% block page_title %} {{block.super}} Statutoy Institutions -  Application for a Vacancy {% endblock page_title%}

{% load static %}

{% load crispy_forms_tags %}

{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />

<link href="{% static 'css/si_module.css' %}" rel="stylesheet" />
<style>
    #vacancy_data_table tr:hover {
        background-color: #a4ea7e;
    }
    .font-weight-bold {
        font-weight: bold;
        text-decoration: underline;
    }
</style>
{% endblock style_code%}

    
{% block primary %}  
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li><a href="{% url 'SI_home' %}">SI</a></li>
    <li class="active"> Vacancy</li>
</ol>
<h1 class="page-header"> Application for a Vacancy to an Institution</h1>
<!-- end breadcrumb -->
<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-info fa-2x pull-left"></i>
    <span id="invalid-form-message"></span>
    <span class="validation-errors"></span>
</div>
<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>                      
                <h4 class="panel-title">Vacancy Aplication &nbsp;<i class="fa fa-snowflake-0"></i> <span id="person_name"></span></h4>
                </div>
                <div class="alert alert-info fade in">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div id="mng_messages">
                        <b>INFO!</b>  
                        </div>
                    </div>

                    <div class="panel-body">
                        <form class="form-horizontal form-bordered" action="." method="POST" data-parsley-validate="true" name="form-wizard" id="new_person">
                            {% csrf_token %}
                            {% if request.session.reg_ovc %}
                            <input type="hidden" name="ovc_program" id="ovc_program" value="1">
                            {% else %}
                            <input type="hidden" name="ovc_program" id="ovc_program" value="0">
                            {% endif %}
                            <input type="hidden" name="person_uid" id="person_uid" value="{{ person_uid }}">
                            <div class="row">
                            <fieldset>
                                <legend class="pull-left width-full">Child details</legend>
                                <div class="divider pull-left width-full"></div>
                                <div class="divider pull-left width-full"></div>
                                <div class="row">
                                    <div id="" class="col-md-2">
                                        <div class="form-group block1">
                                            <label for="previous_institution">CPIMS ID</label><br>
                                            {{child.id}}
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-2">
                                        <div id="dob_div" class="form-group">
                                            <label for="prev_inst_release_date">NAME </label><br>
                                            {{child.first_name}}  {{child.surname}}  {{child.other_names}}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div id="dob_div" class="form-group">
                                            <label for="prev_inst_release_date">Age </label><br>
                                            {{ child.age}}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div id="dob_div" class="form-group">
                                            <label for="prev_inst_release_date">Sex </label><br>
                                            {% if child.sex_id == 'SMAL' %}
                                                Male
                                            {% elif child.sex_id == 'SFEM' %}
                                                Female
                                            {% endif %}
                                        </div>
                                    </div>
                                
                                </div>
                                <div class="divider pull-left width-full"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                    <legend class="pull-left width-full">Form details</legend>
                                    <div class="row">
                                    <div class="divider pull-left width-full"></div>
                                <div class="divider pull-left width-full"></div>
                                    <div id="" class="col-md-3">
                                        <div class="form-group block1">
                                            <label for="ref_no">Reference No</label><br>
                                            {{ form.ref_no }}
                                        </div>
                                    </div>
                                    <div id="" class="col-md-3">
                                        <div class="form-group block1">
                                            <label for="crc_no">CRC NO:</label><br>
                                            {{ form.crc_no }}
                                        </div>
                                    </div>
                                    <div id="" class="col-md-3">
                                        <div class="form-group block1">
                                            <label for="pnc_no">P&C NO:</label><br>
                                            {{ form.pnc_no }}
                                        </div>
                                    </div>
                                    <div id="" class="col-md-3">
                                        <div class="form-group block1">
                                            <label for="date_of_application">Date of application</label><br>
                                            {{ form.date_of_application }}
                                        </div>
                                    </div>
                                </div>
                                <div class="divider pull-left width-full"></div>
                                <div class="row">
                                    <div id="" class="col-md-3">
                                        <div class="form-group block1">
                                            <label for="court_number">Court Number </label><br>
                                            {{ form.court_number }}
                                        </div>
                                    </div>
                                    <div id="" class="col-md-3">
                                        <div class="form-group block1">
                                            <label for="judge_name">Judge Name</label><br>
                                            {{ form.judge_name }}
                                        </div>
                                    </div>
                                    <div id="" class="col-md-3">
                                        <div class="form-group block1">
                                            <label for="child_held_at">Child held at: </label><br>
                                            {{ form.child_held_at }}
                                        </div>
                                    </div>
                                    <div id="" class="col-md-3">
                                        <div class="form-group block1">
                                            <label for="date_of_next_mention">Date of next mention </label><br>
                                            {{ form.date_of_next_mention }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="" class="col-md-4">
                                        <div class="form-group block1">
                                            <label for="requesting_officer">Requesting Officer </label><br>
                                            {{ form.requesting_officer }}
                                        </div>
                                    </div>
                                    <div id="" class="col-md-4">
                                        <div class="form-group block1">
                                            <label for="designation">Designation </label><br>
                                            {{ form.designation }}
                                        </div>
                                    </div>
                                    <div id="" class="col-md-4">
                                        <div class="form-group block1">
                                            <label for="sub_county_children_officer">Sub County Children Officer</label><br>
                                            {{ form.sub_county_children_officer }}
                                        </div>
                                    </div>
                                </div>

                            </fieldset>                            

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"></label>
                                <div class="col-md-6 col-sm-6">
                                    <button type="submit" class="btn btn-primary" value="submit" id="s1">Submit</button>
                                    <a href="{% url 'new_si_child_view' child.id %}">
                                    <button type="button" class="btn btn-default">Cancel</button>
                                    </a>
                                </div>
                            </div>
                            <div id="caregiver_new"></div>
                        </form>
                    </div>
                </div>
                <!-- end panel -->
            </div>        
        </div>
        {% comment %} </div> {% endcomment %}
        <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>                          
                    <h4 class="panel-title"><b>Vacancy Applications </b></h4>                    
                </div>

                <div class="panel-body">
                    <div  class="panel panel-inverse">
                        <div id="case-events"  class="table-responsive">
                            <table id="vacancy_data_table" class="table table-striped table-bordered">
                                <thead>
                                    <tr> 
                                        <th>Ref No.</th>  
                                        <th>Date of Application</th>                                 
                                        <th>CRC No.</th> 
                                        <th>P & N No.</th>                
                                        <th>Child Held At:</th> 
                                        <th>Requesting Officer</th> 
                                        <th>Status</th> 
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%if vacancies%}
                                    {%for vacancy in vacancies%}
                                    <tr>
                                        <td>{{vacancy.ref_no}}</td> 
                                        <td>{{vacancy.date_of_application}}</td>                            
                                        <td>{{vacancy.crc_no}}</td> 
                                        <td>{{vancancy.pnc_no}}</td>                
                                        <td>{{vacancy.child_held_at}}</td>     
                                        <td>{{vacancy.requesting_officer}}</td>     
                                        <td>
                                            {%if vacancy.application_status == 'W' %}
                                                <span class="text-primary">Waiting</span>
                                            {%elif vacancy.application_status == 'D'  %}
                                                <span class="text-danger">Denied</span>
                                            {%elif vacancy.application_status == 'A'  %}
                                                <span class="text-success">Approved</span>
                                            {%endif%}
                                        </td>  
                                        <td>    
                                            {%if vacancy.application_status == 'W' %}
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#approveVacancy" data-test="{{vacancy.vacancy}}">Approve</button>
                                                <a href="{% url 'deny_vacancy' uid=vacancy.vacancy %}">
                                                    <button type="button" class="btn btn-danger" >Deny</button >
                                                </a>
                                                <a href="{% url 'delete_vacancy' uid=vacancy.vacancy %}">
                                                    <button type="button" class="btn btn-warning">Delete</button >
                                                    </a>
                                            {% elif vacancy.application_status == 'A' or vacancy.application_status == 'D' %}   
                                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#viewDetails" data-test="{{vacancy.vacancy}}">View Details</button>
                                            {%endif%}
                                        </td>
                                    </tr>
                                    {%endfor%}
                                    {%else%}
                                    <tr>
                                        <td colspan='8' class="text-center text-danger font-weight-bold">No Applications</td>
                                    </tr>
                                    {%endif%}
                                </tbody>
                            </table>
                            </div>
                            <br><br>                           
                        </div>
                    </div>

                </div>
                <!-- end panel -->
            </div>
            <!-- end col-12 -->
        </div>
    </div>
    <div class="modal fade" id="viewDetails" tabindex="-1" role="dialog" aria-labelledby="viewDetailsLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Application Details</h5>
                {% comment %} <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> {% endcomment %}
                </div>
                <div class="modal-body">
                    {% comment %} {% for vacancy in vacancies|slice:"1:2" %} {% endcomment %}
                        <div class="row p-10">
                            <div class="col-md-3"><span class="font-weight-bold">Child Name </span> </br>{{child.first_name}} {{child.other_names}} {{child.surname}}</div>
                            <div class="col-md-3"><span class="font-weight-bold">Ref No </span> </br><span id="m-ref_no"></span></div>
                            <div class="col-md-3"><span class="font-weight-bold">CRC No </span> </br><span id="m-crc_no"></span></div>
                            <div class="col-md-3"><span class="font-weight-bold">P & C No </span> </br><span id="m-pnc_no"></span></div>
                        </div>
                        <div class="row p-10">
                            <div class="col-md-3"><span class="font-weight-bold">Date of application </span> </br><span id="m-date_of_application"></span></div>
                            <div class="col-md-3"><span class="font-weight-bold">Court Number </span> </br><span id="m-court_number"></span></div>
                            <div class="col-md-3"><span class="font-weight-bold">Judge name </span> </br><span id="m-judge_name"></span></div>
                            <div class="col-md-3"><span class="font-weight-bold">Date of next mention </span> </br><span id="m-date_of_next_mention"></span></div>
                        </div>
                        <div class="row p-10">
                            <div class="col-md-3"><span class="font-weight-bold">Requesting Officer </span> </br><span id="m-requesting_officer"></span></div>
                            <div class="col-md-3"><span class="font-weight-bold">Designation </span> </br><span id="m-designation"></span></div>
                            <div class="col-md-3"><span class="font-weight-bold">Sub County Officer </span> </br><span id="m-sub_county_children_officer"></span></div>
                            <div class="col-md-3"><span class="font-weight-bold">Date Denied </span> </br><span id="m-updated_at" class="text-danger"></span></div>
                        </div>
                        
                    {% comment %} {% endfor %} {% endcomment %}
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {% comment %} <button type="button" class="btn btn-primary">Save changes</button> {% endcomment %}
                </div>
            </div>
            </div>
        </div>


        <div class="modal fade" id="approveVacancy" tabindex="-1" role="dialog" aria-labelledby="viewDetailsLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Application Approval</h5>
                {% comment %} <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> {% endcomment %}
                </div>
                <div class="modal-body">
                    {% comment %} {% for vacancy in vacancies|slice:"1:2" %} {% endcomment %}
                        <div class="row p-10">
                            <div class="col-md-3"><span class="font-weight-bold">Child Name </span> </br>{{child.first_name}} {{child.other_names}} {{child.surname}}</div>
                            <div class="col-md-3"><span class="font-weight-bold">Ref No </span> </br><span id="a-ref_no"></span></div>
                            <div class="col-md-3"><span class="font-weight-bold">CRC No </span> </br><span id="a-crc_no"></span></div>
                            <div class="col-md-3"><span class="font-weight-bold">P & C No </span> </br><span id="a-pnc_no"></span></div>
                        </div>
                        <div class="row p-10">
                            <div class="col-md-3"><span class="font-weight-bold">Date of application </span> </br><span id="a-date_of_application"></span></div>
                            <div class="col-md-3"><span class="font-weight-bold">Court Number </span> </br><span id="a-court_number"></span></div>
                            <div class="col-md-3"><span class="font-weight-bold">Judge name </span> </br><span id="a-judge_name"></span></div>
                            <div class="col-md-3"><span class="font-weight-bold">Date of next mention </span> </br><span id="a-date_of_next_mention"></span></div>
                        </div>
                        
                        <div class="row p-10">
                            <div class="col-md-3"><span class="font-weight-bold">Institution type </span> </br>{{form.institution_type}}</div>
                            <div class="col-md-3"><span class="font-weight-bold">Institution Name </span> </br>{{form.institution_name}}</div>   
                            <div class="col-md-3"><span id="vacancyid" style="opacity:1;"></span></div>
                        </div>
                        <div class="row p-10">
                            <div class="col-md-3"><span class="font-weight-bold">Months Approved </span> </br>{{form.months}}</div>
                            <div class="col-md-3"><span class="font-weight-bold">Magistrate court </span> </br>{{form.magistrate_court}}</div>   
                        </div>
                    {% comment %} {% endfor %} {% endcomment %}
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
                <button type="button" class="btn btn-primary" id="approveV">Approve</button>
                </div>
            </div>
            </div>
        </div>
</div>
<!-- end row -->
{% endblock primary %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-multiselect.js' %}"></script>
<script>
jQuery(document).ready(function() {
    // instantiate datepicker
$('#date_of_application').datepicker({
    format: 'dd-M-yyyy',
    maxDate: '0'
})

$('#date_of_next_mention').datepicker({
    format: 'dd-M-yyyy', 
    minDate: '0'
})

    FormWizardValidation.init();




    //Hide these <divs> on page_load()
    var hashes = window.location.hash.substr(1);
    $('#person_type').val(hashes);
    //No need for check window load


        // Event handler for the "View Details" button
        $('.btn-secondary[data-toggle="modal"],.btn-primary[data-toggle="modal"]').click(function() {
            var vacancyId = $(this).data('test')
            vacancyID_less = vacancyId.replace('#viewDetails',''); // Get the ID of the modal to be shown
            var csrftoken = $.cookie('csrftoken');
            // Retrieve the record details using AJAX
            $.ajax({
              url: "{% url 'vacancyDetail' %}", 
              type: 'POST',
              data: {
                vacancyId: vacancyID_less,
                'csrfmiddlewaretoken': csrftoken
              },
              success: function(response) {
                // Update the modal content with the record details
                var modal = $(vacancyId);
                console.log(response)
                modal.find('.modal-body').html(response);
                $('#vacancyid').html(response.vacancy)
                for (var key in response) {
                    if (response.hasOwnProperty(key)) {
                        var value = response[key];
                        var element = $('#m-' + key); // Assuming each property has a corresponding HTML element with an ID
                        var elements = $('#a-' + key);
                        {% comment %} console.log({key, element}) {% endcomment %}
              
                      // Check if the element exists and add HTML markup to its value
                      if (element.length > 0) {
                        // Example: Add bold and underline to the value
                        element.html('<i>' + value + '</i>');
                      }
                      if (elements.length > 0) {
                        // Example: Add bold and underline to the value
                        elements.html('<i>' + value + '</i>');
                      }
                    }
                  }
              },
              error: function(xhr, status, error) {
                console.error(error);
              }
            });
          });

          // post the approved data
          $('#approveV').click(function() {
            var vacancyId = $('#vacancyid').html()
            var csrftoken = $.cookie('csrftoken');
            siType = $('#institution_type').val()
            siName = $('#institution_name').val()
            months = $('#months').val()
            magistrate_court = $('#magistrate_court').val()
            // Retrieve the record details using AJAX
            console.log({vacancyId, siType, siName})
            $.ajax({
              url: "{% url 'vacancyApprove' %}", 
              type: 'POST',
              data: {
                vacancyId: vacancyID_less,
                'csrfmiddlewaretoken': csrftoken,
                'sitype': siType,
                'siname': siName,
                'months': months,
                'magistrate_court': magistrate_court

              },
              success: function(response) {
                // Update the modal content with the record details
                console.log(response)
                $('#approveVacancy').modal('hide')
                window.location.reload()
              },
              error: function(xhr, status, error) {
                console.error(error);
              }
            });
          });


    });

    // Fetching institution by type
    $("#institution_type").on('change', function(e) {
        var si_type = $("#institution_type").val();
        var csrftoken = $.cookie('csrftoken');
        var values = {'si_type': si_type, 'action': 2,
                      'csrfmiddlewaretoken': csrftoken };
        $('#institution_name').empty();
        $.ajax({
            type: "POST",
            data: values,
            dataType: "json",
            url: "{% url 'si_lookup' %}",
            success: function(data){
                var wards = data.centres;
                console.log(wards)
                //$('#working_in_ward').html("<option value=''>Please Select</option>");           
                $.each(wards, function(i, record) {
                    var ward_attribs = wards[i][0].split(",");
                    $('#institution_name')
                        .append($("<option></option>")
                        .attr("value", ward_attribs[0])
                        .text(ward_attribs[1]));
                 });
                $('#institution_name').select2();
            },
            error: function(){
                $('#messages').html("Error")
            }
        });
    });


window.Parsley.on('field:error', function(fieldInstance) {
  // Get the error messages
    var messages = ParsleyUI.getErrorsMessages(fieldInstance);

    // Get the field's name
    var fieldName = fieldInstance.$element.attr('name');
    //var fieldLabel = fieldInstance.$element.attr('label');
    //'+ fieldInstance.$element.attr('name') +'
    var fieldLabel = $('label[for="'+ fieldName +'"]').text();

    // Loop through all the messages
    var fmsg = '';
    for (var i in messages) {
        // Create a message for each error
        var message = (fieldLabel + ': ' + messages[i]).replace('*', '');
        //var msg = $('<p><a class="focus-' + fieldName + '" href="#">' + message + '</a><p>');
        var msg = $('<p><a class="focus-' + fieldName + '" href="#">' + message + '</a><p>');

        // Append the errors to the div
        fmsg += fieldLabel.replace('*', '') + ' - '+ messages[i] +'; ';
        if (fieldLabel != ''){
            //$('.validation-errors').append(', ' + fieldLabel);
            fmsgs = fieldLabel.replace('*', '') + ' - '+ messages[i] +'; ';
        }   
    }
    if (fmsg != ''){
       $('.validation-errors').append(fmsg.replace(':', ''));
       $('#messages').show();  
    }else{
        $('#messages').hide();
    }     
});

</script>
{% endblock lazy_javascript_code %}
