{% extends 'base.html' %}
{% load static %}
{% block page_title %} Institutions Forms - {{ form_name }}{% endblock %}

{% load app_filters %}

{% load crispy_forms_tags %}

{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />

<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/si_forms.css' %}" rel="stylesheet" />
{% endblock %}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">Institutions </li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header"> Form {{ form_code }} - {{ form_name }} <small>Home</small></h1>
<!-- end page-header -->
{% if messages %}
<div id="messages" class="alert alert-suc{{ form_name }}cess fade in">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.info %} class="{{ message.info }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<!-- begin row -->
<div class="row">
   <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
            <div class="myForm">
            <div class="divHeader"><img src="{% static 'img/logo_gok.png' %}"><br/>MINISTRY OF LABOUR AND SOCIAL PROTECTION
            <br/>STATE DEPARTMENT OF SOCIAL PROTECTION <br/>DIRECTORATE OF CHILDREN SERVICES <br/><br/>
            <b>Statutory Institution - FORM {{ form_id }} - {{ form_name }}</b></div>
            <div class="cinvoice">
                <div class="invoice-company">
                    <span class="pull-right hidden-print">
                    {% if edit_form == 0 %}
                    <a href="{% url 'si_document' form_id=form_id %}" class="btn btn-sm btn-danger m-b-10"><i class="fa fa-download m-r-5"></i> Export as PDF</a>
                    {% endif %}
                    <button type="button" id="map-print" class="btn btn-sm btn-danger m-b-10" onclick="printChart()"><i class="fa fa-print"></i> Print Form</button>
                    <a href="{% url 'new_si_child_view' case.person.id %}" class="btn btn-sm btn-success m-b-10"><i class="fa fa-mail-reply-all m-r-5"></i> Back to Care details</a>
                    </span>
                    Case No: {{ case.si_case.case_serial }}

                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="POST" id="new-form-11F" action="." data-parsley-validate="true">
                    {% csrf_token %}
                    <input type="hidden" name="form_id" value="{{ form_id }}">
                    <input type="hidden" name="case_id" value="{{ case.case_id }}">
                    <input type="hidden" name="person_id" value="{{ case.person.id }}">
                    <input type="hidden" name="care_id" value="{{ case.care_id }}">

                    <p><b>This form is for the purpose of child protection record and it is for care planning of this child while in the institution.</b></p>

                    <div id="wizard_a">
                        <ol>
                            <li>
                                Personal Information
                                <small>Personal Information</small>
                            </li>
                            <li>
                                Medical History
                                <small>Medical History</small>
                            </li>
                            <li>
                                Physical Examination
                                <small>Physical Examination</small>
                            </li>
                        </ol>
                        <!-- begin wizard step-1 -->
                        <div class="tab-pane">
                            <fieldset>
                                <legend class="pull-left width-full">Section 1 : Personal Information</legend>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">First Name</label>
                                    <div class="col-md-3">
                                        {{ case.person.first_name }}
                                    </div>
                                    <label class="col-md-2 control-label">Other Names</label>
                                    <div class="col-md-3">{% if case.person.other_names %}{{ case.person.other_names }}{% else %} Not Provided {% endif %}</div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Surname</label>
                                    <div class="col-md-3">
                                        {{ case.person.surname }}
                                    </div>
                                    <label class="col-md-2 control-label">Nickname or given name</label>
                                    <div class="col-md-3">Not Provided</div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Sex</label>
                                    <div class="col-md-3">
                                        {{ case.person.sex_id|gen_value:vals }}
                                    </div>
                                    <label class="col-md-2 control-label">DOB</label>
                                    <div class="col-md-3">{{ case.person.date_of_birth }}</div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="form-group">                                      
                                        <label class="col-md-2 control-label">
                                            {{ form.Q1_height.label }}
                                            {% if form.Q1_height.field.required %}<span class="asteriskField">*</span>{% endif %}
                                        </label>
                                        <div class="col-md-3">
                                            {{ form.Q1_height }}
                                        </div>
                                        <label class="col-md-2 control-label">
                                            {{ form.Q2_bp.label }}
                                            {% if form.Q2_bp.field.required %}<span class="asteriskField">*</span>{% endif %}
                                        </label>
                                        <div class="col-md-3">
                                            {{ form.Q2_bp }}
                                        </div>
                                </div>
                                <div class="form-group">                                      
                                        <label class="col-md-2 control-label">
                                            {{ form.Q3_weight.label }}
                                            {% if form.Q3_weight.field.required %}<span class="asteriskField">*</span>{% endif %}
                                        </label>
                                        <div class="col-md-3">
                                            {{ form.Q3_weight }}
                                        </div>
                                        <label class="col-md-2 control-label">
                                            {{ form.Q4_pulse.label }}
                                            {% if form.Q4_pulse.field.required %}<span class="asteriskField">*</span>{% endif %}
                                        </label>
                                        <div class="col-md-3">
                                            {{ form.Q4_pulse }}
                                        </div>
                                </div>
                                <div class="form-group">                                      
                                        <label class="col-md-2 control-label">
                                            {{ form.Q5_disability.label }}
                                            {% if form.Q5_disability.field.required %}<span class="asteriskField">*</span>{% endif %}
                                        </label>
                                        <div class="col-md-3">
                                            {{ form.Q5_disability }}
                                        </div>
                                     </div>

                            </fieldset>
                        </div>
                        <!-- end wizard step-1 -->

                        <!-- begin wizard step-2 -->
                        <div class="tab-pane">
                            <fieldset>
                                <legend class="pull-left width-full">Section 2 : Medical History</legend>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q6_illness.label }}
                                        {% if form.Q6_illness.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-2">
                                        {{ form.Q6_illness }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.Q7_illness_details }}
                                    </div>
                                </div>
                                 <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q8_tb.label }}
                                        {% if form.Q8_tb.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-2">
                                        {{ form.Q8_tb }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.Q9_tb_details }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q10_mental_ill.label }}
                                        {% if form.Q10_mental_ill.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-2">
                                        {{ form.Q10_mental_ill }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.Q11_mental_ill_details }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q12_sleep_problem.label }}
                                        {% if form.Q12_sleep_problem.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-2">
                                        {{ form.Q12_sleep_problem }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.Q13_sleep_problem_details }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q14_seizures.label }}
                                        {% if form.Q14_seizures.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-2">
                                        {{ form.Q14_seizures }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.Q15_seizures_details }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q16_allergy.label }}
                                        {% if form.Q16_allergy.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-2">
                                        {{ form.Q16_allergy }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.Q17_allergy_list }}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-2 -->

                        <!-- begin wizard step-3 -->
                        <div class="tab-pane">
                            <fieldset>
                                <legend class="pull-left width-full">Section 3 : Physical Examination</legend>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q18_exam.label }}
                                        {% if form.Q18_exam.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q18_exam }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q19_orient_time.label }}
                                        {% if form.Q19_orient_time.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-3">
                                        {{ form.Q19_orient_time }}
                                    </div>
                                    <label class="col-md-2 control-label">
                                        {{ form.Q20_orient_date.label }}
                                        {% if form.Q20_orient_date.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-3">
                                        {{ form.Q20_orient_date }}
                                    </div>
                                </div>
                                <div class="form-group">                             
                                    <label class="col-md-3 control-label">
                                        {{ form.Q21_orient_place.label }}
                                        {% if form.Q21_orient_place.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-3">
                                        {{ form.Q21_orient_place }}
                                    </div>
                                    <label class="col-md-2 control-label">
                                        {{ form.Q22_orient_person.label }}
                                        {% if form.Q22_orient_person.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-3">
                                        {{ form.Q22_orient_person }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q23_speech.label }}
                                        {% if form.Q23_speech.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q23_speech }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q24_acuity.label }}
                                        {% if form.Q24_acuity.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-2">
                                        {{ form.Q24_acuity }}
                                    </div>
                                    <label class="col-md-1 control-label">
                                        {{ form.Q25_acuity_re.label }}
                                        {% if form.Q25_acuity_re.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-2">
                                        {{ form.Q25_acuity_re }}
                                    </div>
                                    <label class="col-md-1 control-label">
                                        {{ form.Q26_acuity_le.label }}
                                        {% if form.Q26_acuity_le.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-2">
                                        {{ form.Q26_acuity_le }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q27_head.label }}
                                        {% if form.Q27_head.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q27_head }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q28_ent.label }}
                                        {% if form.Q28_ent.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q28_ent }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q29_cns.label }}
                                        {% if form.Q29_cns.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q29_cns }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q30_cvs.label }}
                                        {% if form.Q30_cvs.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q30_cvs }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q31_resp.label }}
                                        {% if form.Q31_resp.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q31_resp }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q32_git.label }}
                                        {% if form.Q32_git.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q32_git }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q33_muscu_skel.label }}
                                        {% if form.Q33_muscu_skel.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q33_muscu_skel }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q34_repr.label }}
                                        {% if form.Q34_repr.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q34_repr }}
                                    </div>
                                </div>

                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q35_skin.label }}
                                        {% if form.Q35_skin.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q35_skin }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q36_dental.label }}
                                        {% if form.Q36_dental.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q36_dental }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q37_urinalysis.label }}
                                        {% if form.Q37_urinalysis.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q37_urinalysis }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q38_stool.label }}
                                        {% if form.Q38_stool.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q38_stool }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q39_vrdl.label }}
                                        {% if form.Q39_vrdl.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q39_vrdl }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q40_pregnancy.label }}
                                        {% if form.Q40_pregnancy.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q40_pregnancy }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q41_covid.label }}
                                        {% if form.Q41_covid.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q41_covid }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q42_hiv.label }}
                                        {% if form.Q42_hiv.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q42_hiv }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q43_hiv_consent.label }}
                                        {% if form.Q43_hiv_consent.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q43_hiv_consent }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q44_xray.label }}
                                        {% if form.Q44_xray.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q44_xray }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-3 control-label">
                                        {{ form.Q45_other_condition.label }}
                                        {% if form.Q45_other_condition.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-8">
                                        {{ form.Q45_other_condition }}
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">                                      
                                    <label class="col-md-5 control-label">
                                        {{ form.Q46_doctor_exam.label }}
                                        {% if form.Q46_doctor_exam.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-6">
                                        {{ form.Q46_doctor_exam }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-5 control-label">
                                        {{ form.Q47_mp_name.label }}
                                        {% if form.Q47_mp_name.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-6">
                                        {{ form.Q47_mp_name }}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-3 -->
                    </div>
                    <hr>                    
                    <div class="form-group">
                        <label class="col-md-2 control-label">Date of Event <span class="asteriskField">*</span></label>
                        <div class="col-md-3">
                            {{ form.event_date }}
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                    <div class="form-group" id="printId">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                        <button type="submit" class="btn btn-success">Submit Form {{ form_code }} details</button>
                        <a href="{% url 'new_si_child_view' case.person.id %}">
                            <button type="button" class="btn btn-default">Cancel</button>
                        </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if edit_form > 0 %}

    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-default" data-sortable-id="ui-general-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>                          
                    <h4 class="panel-title"><b>Past Events </b></h4>                    
                </div>
                <div class="panel-body">
                    <table id="tableData" class="table table-striped table-bordered">
                        <thead>
                            <tr> 
                                <th>#</th>                                 
                                <th>Event Date</th>                
                                <th>Officer</th> 
                                <th width="25%">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if case.events %}
                            {% for vacancy in case.events %}
                            <tr id="si_row-{{ vacancy.pk }}"> 
                                <td>{{ forloop.counter }}</td>                                 
                                <td>{{ vacancy.event_date }}</td>
                                <td>N/A</td>

                                <td>
                                    <a href="{% url 'si_form_edit' form_id=form_id id=case.person.id ev_id=vacancy.pk|stringformat:'s' %}">
                                        <button type="button" class="btn btn-primary"> <i class="fa fa-pencil"></i> View / Edit Details </button>
                                    </a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="si-{{ vacancy.pk }}" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div style="background-color:#d9edf7" class="modal-header">
                                                    <button type="button" class="close " data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title" style="font-weight: 100; color: #696969"><strong>Delete {{ form_name }} - {{ vacancy.event_date }}</strong></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Are you sure you want to delete this {{ form_name }} dated {{ vacancy.event_date }} ? </p>
                                                        <br>
                                                        <p>Click Yes to proceed to delete or Close to Cancel.</p>
                                                        <hr>
                                                        <a><button onclick="deleteEvent('{{ form_id }}', '{{ vacancy.pk }}')" type="button" class="btn btn-danger" data-dismiss="modal">Yes</button></a>
                                                        <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary">
                                        <i class="fa fa-cogs"></i> Follow Up
                                    </a>
                                    <a href="#si-{{ vacancy.pk }}" class="btn btn-danger" data-toggle="modal">
                                        <i class="fa fa-trash"></i> Delete
                                    </a>                                                        
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="6">No previous events available</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>                  
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-12 -->
        </div>
        {% endif %}
        </div>
    </div>
    <!-- end panel -->  
</div>
<!-- end row -->

<!-- Modal -->
<div  class="modal fade" id="successMsg" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="background-color: #8f9191">
            <div style="background-color: #d9edf7" class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="font-weight: 100; color: #696969"><strong>Successful Deletion of Event</strong></h4>
            </div>
            <div class="modal-body">
            <p>Deleted successfully!</p>
            <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="errorMsg" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div style="background-color: #ff9966" class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="font-weight: 100; color: #696969"><strong>Deletion NOT completed.</strong></h4>
            </div>
            <div class="modal-body">
            <p>This item can not be deleted. <span id="msg_id"></span></p>
            <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script>
// Delete Django Ajax Call
function deleteEvent(form_id, event_id) {
    var csrftoken = $.cookie('csrftoken');
    $.ajax({
        type: 'POST',
        url: "{% url 'si_form_delete' %}",
        
        data: {'form_id': form_id, 'event_id': event_id,
               'csrfmiddlewaretoken': csrftoken },
        dataType: 'json',
        
        success: function (data) {
            if (data.deleted == 1) {
                console.log(data);
              $("#tableData #si_row-" + event_id).remove();
              $("#successMsg").modal('show');
            }
            if(data.deleted == 0){
                console.log(data.days)
                $("#msg_id").html(data.message);
                $("#errorMsg").modal('show');
    
            }
        },
        error: function(error){
            console.log(error);
        }
    });
}

$(document).ready(function() {
    {% if allow_edit == 0 and 'U' not in all_perms %}
    $("#new-form-11F :input").prop("disabled", true);
    {% endif %}
    $('#event_date, .event_date').datepicker({ endDate: '0y', format: 'dd-M-yyyy' });
    $('.other_date').datepicker({ format: 'dd-M-yyyy' });

    $("#wizard_a").bwizard({ validating: function (e, ui) { }            
    });

    
    // Handle disability
    var aval = $("input[name='qf1A10_rdo']:checked").val();
        handle_disability(aval);
    $('input[type=radio][name=qf1A10_rdo]').change(function() {
        handle_disability(this.value);
    });

    // Handle toggle for birth certificate
    var avalr = $("input[name='qf1A1_rdo']:checked").val();
        handle_toggle(avalr, 1);
    $('input[type=radio][name=qf1A1_rdo]').change(function() {
        handle_toggle(this.value, 1);
    });
    // Handle toggle for committal
    var avalr2 = $("input[name='qf1A15_rdo']:checked").val();
        handle_toggle(avalr2, 2);
    $('input[type=radio][name=qf1A15_rdo]').change(function() {
        handle_toggle(this.value, 2);
    });

    // Handle toggle for committal
    var ctls = {};
    ctls['Q6_illness'] = 'Q7_illness_details';
    ctls['Q8_tb'] = 'Q9_tb_details';
    ctls['Q10_mental_ill'] = 'Q11_mental_ill_details';
    ctls['Q12_sleep_problem'] = 'Q13_sleep_problem_details';
    ctls['Q14_seizures'] = 'Q15_seizures_details';
    ctls['Q16_allergy'] = 'Q17_allergy_list';
    // Handle the toggles
    field_toggle('Q6_illness', ctls);
    field_toggle('Q8_tb', ctls);
    field_toggle('Q10_mental_ill', ctls);
    field_toggle('Q12_sleep_problem', ctls);
    field_toggle('Q14_seizures', ctls);
    field_toggle('Q16_allergy', ctls);

});

function printChart() {
      //Print Chart
      var mapContainer;
      var body               = $('body');
      mapContainer       = $('div.myForm');
      if (mapContainer.length == 0){
          mapContainer = $('div.myForm');
      }
      var mapContainerParent = mapContainer.parent();
      var printContainer     = $('<div>');
      $(':input').removeAttr('placeholder');

      printContainer
        .addClass('print-container')
        .css('width', '100%')
        .css('height', '800px')
        .css('-webkit-print-color-adjust','exact')
        .height(mapContainer.height())
        .append(mapContainer)
        .prependTo(body);

      var content = body
        .children()
        .not('script')
        .not(printContainer)
        .detach();
      
      // Patch for some Bootstrap 3.3.x `@media print` styles. :|
      var patchedStyle = $('<style>')
        .attr('media', 'print')
        .text('img { max-width: auto !important; }' +
              'a[href]:after { content: ""; }')
        .appendTo('head');

      window.print();

      body.prepend(content);
      mapContainerParent.prepend(mapContainer);

      printContainer.remove();
      patchedStyle.remove();
      $('#print_title').remove();
}

function handle_disability(has_disb){
    if (has_disb == 'ANNO') {
        $('#disability_details_div').hide();
        $('#disability_severity').attr("data-parsley-required", "false");
        $('#disability_type').attr("data-parsley-required", "false");
    }else{
        $('#disability_details_div').show();
        $('#disability_severity').attr("data-parsley-required", "true");
        $('#disability_type').attr("data-parsley-required", "true");
    }
}

function field_toggle(ctl, ctls){
    var ctid = ctls[ctl];
    var avalr = $("input[name="+ ctl +"]:checked").val();
    handle_toggle(avalr, ctid);
    $("input[type=radio][name="+ ctl +"]").change(function() {
        handle_toggle(this.value, ctid);
    });
}

function handle_toggle(elem, itm){
    console.log('here ', elem, itm)
    if (elem == 'AYES') {
        $("#id_"+itm).prop("readonly", false);
        // $("#id_"+itm).attr('readonly',false);
    }else{
        $("#id_"+itm).prop("readonly", true);
        // $("#id_"+itm).attr('readonly', true);
    }
}
</script>
{% endblock %}