{% extends 'base.html' %}
{% load static %}
{% block page_title %} Institutions Forms - {{ form_name }}{% endblock %}

{% load app_filters %}

{% load crispy_forms_tags %}

{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />

<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/si_forms.css' %}" rel="stylesheet" />
{% endblock %}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">Institutions </li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header"> Form {{ form_code }} - {{ form_name }} <small>Home</small></h1>
<!-- end page-header -->
{% if messages %}
<div id="messages" class="alert alert-suc{{ form_name }}cess fade in">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.info %} class="{{ message.info }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<!-- begin row -->
<div class="row">
   <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
            <div class="myForm">
            <div class="divHeader"><img src="{% static 'img/logo_gok.png' %}"><br/>MINISTRY OF LABOUR AND SOCIAL PROTECTION
            <br/>STATE DEPARTMENT FOR SOCIAL PROTECTION AND SENIOR CITIZENS AFFAIRS <br/>DIRECTORATE OF CHILDREN SERVICES <br/><br/>
            <b>Statutory Institution - FORM {{ form_id }} - {{ form_name }}</b></div>
            <div class="cinvoice">
                <div class="invoice-company">
                    <span class="pull-right hidden-print">
                    {% if edit_form == 0 %}
                    <a href="{% url 'si_document' form_id=form_id %}" class="btn btn-sm btn-danger m-b-10"><i class="fa fa-download m-r-5"></i> Export as PDF</a>
                    {% endif %}
                    <button type="button" id="map-print" class="btn btn-sm btn-danger m-b-10" onclick="printChart()"><i class="fa fa-print"></i> Print Form</button>
                    <a href="{% url 'new_si_child_view' case.person.id %}" class="btn btn-sm btn-success m-b-10"><i class="fa fa-mail-reply-all m-r-5"></i> Back to Care details</a>
                    </span>
                    Case No: {{ case.si_case.case_serial }}

                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="POST" id="new-form-5F" action="." data-parsley-validate="true">
                    {% csrf_token %}
                    <input type="hidden" name="form_id" value="{{ form_id }}">
                    <input type="hidden" name="case_id" value="{{ case.case_id }}">
                    <input type="hidden" name="person_id" value="{{ case.person.id }}">
                    <input type="hidden" name="care_id" value="{{ case.care_id }}">

                    <div id="wizard_a">
                        <ol>
                            <li>
                                Details of the Child
                                <small>Details of the Child</small>
                            </li>
                            <li>
                                Family Background
                                <small>Family Background</small>
                            </li>
                            <li>
                                Case History of the Child
                                <small>Case History of the Child</small>
                            </li>
                        </ol>
                        <!-- begin wizard step-1 -->
                        <div class="tab-pane">
                            <fieldset>
                                <legend class="pull-left width-full">Section 1 : Personal Information</legend>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">First Name</label>
                                    <div class="col-md-3">
                                        {{ case.person.first_name }}
                                    </div>
                                    <label class="col-md-2 control-label">Other Names</label>
                                    <div class="col-md-3">{% if case.person.other_names %}{{ case.person.other_names }}{% else %} Not Provided {% endif %}</div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Surname</label>
                                    <div class="col-md-3">
                                        {{ case.person.surname }}
                                    </div>
                                    <label class="col-md-2 control-label">Nickname or given name</label>
                                    <div class="col-md-3">Not Provided</div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Sex</label>
                                    <div class="col-md-3">
                                        {{ case.person.sex_id|gen_value:vals }}
                                    </div>
                                    <label class="col-md-2 control-label">DOB</label>
                                    <div class="col-md-3">{{ case.person.date_of_birth }}</div>
                                    <div class="col-md-1"></div>
                                </div>

                            </fieldset>
                        </div>
                        <!-- end wizard step-1 -->
                        <!-- begin wizard step-2 -->
                        <div class="tab-pane">
                            <fieldset>
                                <legend class="pull-left width-full">Family Background</legend>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Case Record Sheet</label>
                                    <div class="col-md-5">
                                        {% for crs in case.cases %}
                                            <div class="radio">
                                                <label class="radio-inline">
                                                    <input type="radio" name="case_record_id" value="{{ crs.case_id }}" data-parsley-group="group0" data-parsley-required="true" {% if case.case_id == crs.case_id %}  checked    {% endif %}/>
                                                    {{ crs.case_serial }} - {{ crs.date_case_opened }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-4">
                                        <ol>
                                            {% for crs in case.cases %}
                                                <li> <a href="{% url 'check_case_record_sheet' id=crs.case_id %}">View case ({{ crs.case_serial }} - {{ crs.date_case_opened }})</a></li>
                                            {% endfor %}
                                        </ol>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-2 control-label">
                                    </label>
                                    <div class="col-md-9">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2"><h4> Parents Particulars</h4></td>
                                                </tr>
                                                <tr>
                                                    <td class="field" width="30%">Father's Names</td><td></td>
                                                </tr>
                                                <tr>
                                                    <td class="field">Mother's Names</td><td></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"><h4> Home Particulars</h4></td>
                                                </tr>
                                                <tr>
                                                    <td class="field">County</td><td>From CRS</td>
                                                </tr>
                                            </tbody>
                                        </table>                                         
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-2 -->

                        <!-- begin wizard step-3 -->
                        <div class="tab-pane">
                            <fieldset>
                                <legend class="pull-left width-full">Case History of the Child</legend>
                                <div class="form-group">                                      
                                    <label class="col-md-2 control-label">
                                        {{ form.Q2_case_history.label }}
                                        {% if form.Q2_case_history.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form.Q2_case_history }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-2 control-label">
                                        {{ form.Q3_case_observation.label }}
                                        {% if form.Q3_case_observation.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form.Q3_case_observation }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-2 control-label">
                                        {{ form.Q4_case_recommendation.label }}
                                        {% if form.Q4_case_recommendation.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form.Q4_case_recommendation }}
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">                                      
                                    <label class="col-md-2 control-label">
                                        {{ form.Q1B_children_office.label }}
                                        {% if form.Q1B_children_office.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-6">
                                        {{ form.Q1B_children_office }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-2 control-label">
                                        {{ form.Q1A_officer.label }}
                                        {% if form.Q1A_officer.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-6">
                                        {{ form.Q1A_officer }}
                                    </div>
                                </div>
                                <div class="form-group">                                      
                                    <label class="col-md-2 control-label">
                                        {{ form.Q1C_contact.label }}
                                        {% if form.Q1C_contact.field.required %}<span class="asteriskField">*</span>{% endif %}
                                    </label>
                                    <div class="col-md-6">
                                        {{ form.Q1C_contact }}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-3 -->
                    </div>
                    <hr>                    
                    <div class="form-group">
                        <label class="col-md-2 control-label">Date of Social Inquiry <span class="asteriskField">*</span></label>
                        <div class="col-md-3">
                            {{ form.event_date }}
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                    <div class="form-group" id="printId">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                        <button type="submit" class="btn btn-success">Submit Form {{ form_code }} details</button>
                        <a href="{% url 'new_si_child_view' case.person.id %}">
                            <button type="button" class="btn btn-default">Cancel</button>
                        </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if edit_form > 0 %}
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-default" data-sortable-id="ui-general-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>                          
                    <h4 class="panel-title"><b>Past Events </b></h4>                    
                </div>
                <div class="panel-body">
                    <table id="tableData" class="table table-striped table-bordered">
                        <thead>
                            <tr> 
                                <th>#</th>                                 
                                <th>Event Date</th>                
                                <th>Officer</th> 
                                <th width="25%">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if case.events %}
                            {% for vacancy in case.events %}
                            <tr id="si_row-{{ vacancy.pk }}"> 
                                <td>{{ forloop.counter }}</td>                                 
                                <td>{{ vacancy.event_date }}</td>
                                <td>N/A</td>

                                <td>
                                    <a href="{% url 'si_form_edit' form_id=form_id id=case.person.id ev_id=vacancy.pk|stringformat:'s' %}">
                                        <button type="button" class="btn btn-primary"> <i class="fa fa-pencil"></i> View / Edit Details </button>
                                    </a>

                                    <!-- Modal -->
                                    <div class="modal fade" id="si-{{ vacancy.pk }}" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div style="background-color:#d9edf7" class="modal-header">
                                                    <button type="button" class="close " data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title" style="font-weight: 100; color: #696969"><strong>Delete {{ form_name }} - {{ vacancy.event_date }}</strong></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Are you sure you want to delete this {{ form_name }} dated {{ vacancy.event_date }} ? </p>
                                                        <br>
                                                        <p>Click Yes to proceed to delete or Close to Cancel.</p>
                                                        <hr>
                                                        <a><button onclick="deleteEvent('{{ form_id }}', '{{ vacancy.pk }}')" type="button" class="btn btn-danger" data-dismiss="modal">Yes</button></a>
                                                        <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#si-{{ vacancy.pk }}" class="btn btn-danger" data-toggle="modal">
                                        <i class="fa fa-trash"></i> Delete
                                    </a>                                                        
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="6">No previous events available</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>                  
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-12 -->
        </div>
        {% endif %}
        </div>
    </div>
    <!-- end panel -->  
</div>
<!-- end row -->

<!-- Modal -->
<div  class="modal fade" id="successMsg" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="background-color: #8f9191">
            <div style="background-color: #d9edf7" class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="font-weight: 100; color: #696969"><strong>Successful Deletion of Event</strong></h4>
            </div>
            <div class="modal-body">
            <p>Deleted successfully!</p>
            <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="errorMsg" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div style="background-color: #ff9966" class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="font-weight: 100; color: #696969"><strong>Deletion NOT completed.</strong></h4>
            </div>
            <div class="modal-body">
            <p>This item can not be deleted. <span id="msg_id"></span></p>
            <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block lazy_javascript_code %}


<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script>
// Delete Django Ajax Call
function deleteEvent(form_id, event_id) {
    var csrftoken = $.cookie('csrftoken');
    $.ajax({
        type: 'POST',
        url: "{% url 'si_form_delete' %}",
        
        data: {'form_id': form_id, 'event_id': event_id,
               'csrfmiddlewaretoken': csrftoken },
        dataType: 'json',
        
        success: function (data) {
            if (data.deleted == 1) {
                console.log(data);
              $("#tableData #si_row-" + event_id).remove();
              $("#successMsg").modal('show');
            }
            if(data.deleted == 0){
                console.log(data.days)
                $("#msg_id").html(data.message);
                $("#errorMsg").modal('show');
    
            }
        },
        error: function(error){
            console.log(error);
        }
    });
}

$(document).ready(function() {
    {% if allow_edit == 0 or 'U' not in all_perms %}
    $("#new-form-5F :input").prop("disabled", true);
    {% endif %}
    $('#event_date, .event_date').datepicker({ endDate: '0y', format: 'dd-M-yyyy' });
    $('.other_date').datepicker({ format: 'dd-M-yyyy' });

    $("#wizard_a").bwizard({ validating: function (e, ui) { }            
    });

    
    // Handle disability
    var aval = $("input[name='qf1A10_rdo']:checked").val();
        handle_disability(aval);
    $('input[type=radio][name=qf1A10_rdo]').change(function() {
        handle_disability(this.value);
    });

    // Handle toggle for birth certificate
    var avalr = $("input[name='qf1A1_rdo']:checked").val();
        handle_toggle(avalr, 1);
    $('input[type=radio][name=qf1A1_rdo]').change(function() {
        handle_toggle(this.value, 1);
    });
    // Handle toggle for committal
    var avalr2 = $("input[name='qf1A15_rdo']:checked").val();
        handle_toggle(avalr2, 2);
    $('input[type=radio][name=qf1A15_rdo]').change(function() {
        handle_toggle(this.value, 2);
    }); 

});

function printChart() {
      //Print Chart
      var mapContainer;
      var body               = $('body');
      mapContainer       = $('div.myForm');
      if (mapContainer.length == 0){
          mapContainer = $('div.myForm');
      }
      var mapContainerParent = mapContainer.parent();
      var printContainer     = $('<div>');
      $(':input').removeAttr('placeholder');

      printContainer
        .addClass('print-container')
        .css('width', '100%')
        .css('height', '800px')
        .css('-webkit-print-color-adjust','exact')
        .height(mapContainer.height())
        .append(mapContainer)
        .prependTo(body);

      var content = body
        .children()
        .not('script')
        .not(printContainer)
        .detach();
      
      // Patch for some Bootstrap 3.3.x `@media print` styles. :|
      var patchedStyle = $('<style>')
        .attr('media', 'print')
        .text('img { max-width: auto !important; }' +
              'a[href]:after { content: ""; }')
        .appendTo('head');

      window.print();

      body.prepend(content);
      mapContainerParent.prepend(mapContainer);

      printContainer.remove();
      patchedStyle.remove();
      $('#print_title').remove();
}

function handle_disability(has_disb){
    if (has_disb == 'ANNO') {
        $('#disability_details_div').hide();
        $('#disability_severity').attr("data-parsley-required", "false");
        $('#disability_type').attr("data-parsley-required", "false");
    }else{
        $('#disability_details_div').show();
        $('#disability_severity').attr("data-parsley-required", "true");
        $('#disability_type').attr("data-parsley-required", "true");
    }

}

function handle_toggle(elem, itm){
    console.log('here '+ elem)
    if (itm == 1){
        if (elem == 'ANNO') {
            $("#qf1A2").prop("readonly", true);
        }else{
            $("#qf1A2").prop("readonly", false);
        }
    }else if (itm == 2){
        if (elem == 'ANNO') {
            $("#id_qf1A16").prop("readonly", true);
            $("#id_qf1A17").prop("readonly", true);
        }else{
            $("#id_qf1A16").prop("readonly", false);
            $("#id_qf1A17").prop("readonly", false);
        }
    }
    

}
</script>
{% endblock %}