{% extends 'base.html' %}
{% load static %}
{% block page_title %} CTiP {{ form_id }} - {{ form_name }}{% endblock %}

{% load app_filters %}

{% load crispy_forms_tags %}

{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<style type="text/css">
@media screen {
  div.divHeader {
    display: none;
  }
  form#new-form-b ul {
      list-style-type: none;
    }
  form#new-form-b li {
      padding-left: 1em;
      text-indent: -2em;
  }
}
@media print {
  div.divHeader {
    text-align: center;
    font-size: 16px;
    top: 0;
  }
  div.invoice-footer {
    bottom: 0 !important;
  }
  div#printId{
    display: none;
  }
  form#new-form-b ul {
      list-style-type: none;
    }
  form#new-form-b li {
      padding-left: 1em;
      text-indent: -2em;
  }
}
</style>
{% endblock %}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">CTiP - Form </li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header"> CTiP - FORM {{ form_id }} ({{ form_name }}) <small>Home</small></h1>
<!-- end page-header -->
<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <span class="invalid-form-message" id="invalid-form-message"></span>
</div>
<!-- begin row -->
<div class="row">
   <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
            <div class="myForm">
            <div class="divHeader"><img src="{% static 'img/logo_gok.png' %}"><br/>MINISTRY OF LABOUR AND SOCIAL PROTECTION
            <br/>STATE DEPARTMENT OF SOCIAL PROTECTION <br/>DIRECTORATE OF CHILDREN SERVICES <br/><br/><b>CTiP - FORM {{ form_id }} - {{ form_name }}</b></div>
            <div class="cinvoice">
                <div class="invoice-company">
                    <span class="pull-right hidden-print">
                    <a href="javascript:;" class="btn btn-sm btn-danger m-b-10"><i class="fa fa-download m-r-5"></i> Export as PDF</a>
                    <a href="{% url 'ctip_form' form_id='C' case_id=case.case_id|stringformat:'s' %}" class="btn btn-sm btn-success m-b-10"><i class="fa fa-pencil m-r-5"></i> {% if events %} Edit {% else %} New {% endif %}Referral Form</a>
                    <a href="{% url 'ctip_form' form_id='C' case_id=case.case_id|stringformat:'s' %}" class="btn btn-sm btn-success m-b-10"><i class="fa fa-pencil m-r-5"></i>New Referral Form</a>
                    <a href="{% url 'view_ctip_case' case_id=case.case_id|stringformat:'s' %}" class="btn btn-sm btn-success m-b-10"><i class="fa fa-mail-reply-all m-r-5"></i> Back to Case</a>
                    </span>
                    Case No: {{ case.case_number }}
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="POST" id="new-form-c" action="." data-parsley-validate="true">
                    {% if events %}
                    <fieldset id="dtd" disabled="disabled">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3"><b>Referral Agency</b></label>
                        <div class="col-md-5">
                            {{ form.qfC1_txt }}
                        </div>
                        <label class="control-label col-md-1 col-sm-1"><b>Self Referral</b></label>
                        <div class="col-md-2">
                            {{ form.qfC2_rdo }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><b>Referrer's Name</b></label>
                        <div class="col-md-5">
                            {{ form.qfC3_txt }}
                        </div>
                        <label class="control-label col-md-1 col-sm-1"><b>Referral Date</b></label>
                        <div class="col-md-2">
                            {{ form.qfC4_txt }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><b>Contact Telephone / Email</b></label>
                        <div class="col-md-5">
                            {{ form.qfC5_txt }}
                        </div>
                        <label class="control-label col-md-1 col-sm-1"><b>Job Title</b></label>
                        <div class="col-md-2">
                            {{ form.qfC6_txt }}
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-3 control-label"><b>Case Background Information</b></label>
                        <div class="col-md-8">
                            {{ form.qfC7_txt }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><b>Needs of the Victim</b></label>
                        <div class="col-md-8">
                            {{ form.qfC8_txt }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><b>Potential Risks</b></label>
                        <div class="col-md-8">
                            {{ form.qfC9_txt }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><b>Reasons for Referral</b></label>
                        <div class="col-md-8">
                            {{ form.qfC10_txt }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><b>Additional Important Information (if any)</b></label>
                        <div class="col-md-8">
                            {{ form.qfC11_txt }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"><b>Date</b></label>
                        <div class="col-md-4">
                            {{ form.event_date }}
                        </div>
                        <div class="col-md-5">
                        </div>
                    </div>                    
                    </fieldset>
                    <div class="form-group" id="printId">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-3">
                            <button type="button" id="map-print" class="btn btn-sm btn-danger m-r-5" onclick="printChart()"><i class="fa fa-print"></i> Print Form</button>
                            <button type="button" class="btn btn-sm btn-success m-r-5" onclick="location.href='{% url 'ctip_form' form_id='C' case_id=case.case_id|stringformat:'s' %}';"><i class="fa fa-pencil m-r-5"></i> {% if case.consent_date %} Edit {% else %} New {% endif %}Referral Form</button>
                        </div>
                    </div> 
                </form>
                <div class="invoice-footer text-muted">
                    <p class="text-right">
                        <span class="m-r-10"> Case ID: <strong>{{ case.case_id }}</strong>; Timestamp: {{ datetime }}</span>
                    </p>
                </div>
            </div>
                {% else %}
                  This form has not been filled
                {% endif %}
            </div>
            </div>
        </div>
        <!-- end panel -->
    </div>
    
</div>
<!-- end row -->

{% endblock %}

{% block lazy_javascript_code %}
<script>
$(document).ready(function() {
   $('#qfC4_txt, #event_date').datepicker({ endDate: '0y', format: 'dd-M-yyyy' });
});
function printChart() {
      //Print Chart
      var mapContainer;
      var body               = $('body');
      mapContainer       = $('div.myForm');
      if (mapContainer.length == 0){
          mapContainer = $('div.myForm');
      }
      var mapContainerParent = mapContainer.parent();
      var printContainer     = $('<div>');
      $('#dtd').prop('disabled', 'false');
      $(':input').removeAttr('placeholder');

      printContainer
        .addClass('print-container')
        .css('width', '100%')
        .css('height', '800px')
        .css('-webkit-print-color-adjust','exact')
        .height(mapContainer.height())
        .append(mapContainer)
        .prependTo(body);

      var content = body
        .children()
        .not('script')
        .not(printContainer)
        .detach();
      
      // Patch for some Bootstrap 3.3.x `@media print` styles. :|
      var patchedStyle = $('<style>')
        .attr('media', 'print')
        .text('img { max-width: auto !important; }' +
              'a[href]:after { content: ""; }')
        .appendTo('head');

      window.print();

      body.prepend(content);
      mapContainerParent.prepend(mapContainer);

      printContainer.remove();
      patchedStyle.remove();
      $('#print_title').remove();
}
</script>
{% endblock %}
